.contact{
    background-image:
    linear-gradient(
      to right, 
      rgb(167, 65, 65), #c83b3b
    );
    h1{
        font-size: 2rem;
        font-family: 'Roboto';
        font-weight: 700;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        letter-spacing: 7px;
        line-height: 1;
        
    }
}
.contactForm {
    padding-top:200px;
    padding-bottom: 200px;
    font-family: 'Roboto';
    font-weight: 100;
    input{
        width: 100%;
        border: 0px solid gray;
        margin: 10px 0 10px 0;
        height: 45px;
        padding-left: 15px;
    }
    button{ 
        margin-top:-15px;
        width: 100%;
        border:none;
        background: red;
        color:white;
        text-align: center;
    }
    .error{
        color: red;
    }
}

.conctactImage{
    font-family: 'Roboto';
    padding-top: 200px;
    padding-left: 55px;
    padding-right: 55px;

    p{
        color: white;
        text-align: justify;
        font-size: 17px;
    }
}

@media (max-width: 460px) { 
 .contact{
     text-align: center;
 }
 .conctactImage{
     padding:20px;
     img{
         width: 100%;
     }
 }

 .contactForm{
     padding: 20px;
 }
}