#navbar-header{
    padding-top: 25px;
    padding-bottom: 25px
}
#navbarLinks{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

#navbarLinks a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
    font-size: 15px;
    letter-spacing: 0.2rem;
}

#navbarLinks a:hover{
    text-decoration: none;  
}
#navbarLinks a:active {
    border-bottom: solid 4px #911515;

}