

.newsTitleBorder{
    min-height: 80px;
    margin-top: -80px;
    
    background:#911515;
    color: white;
    text-transform: uppercase;

    h1{
        font-size: 2rem;
        font-weight: 300;
    }
    h4{
        font-weight: 100;
        font-size: 1rem;

    }
    i{
        font-size:2rem;
        margin-top: 20px;
    }
}