
.redBanner{
    background: red;
    margin-top: 72.5px;
    .postContainer{
        min-height: 200px;
        display: flex;
        align-items: center;
        h1{
            text-transform: uppercase;
            color: white;
            font-size: 4rem;

        }      
        i{
            padding: 20px;
            background: #f27e73;
            margin-right: 20px;
            color: white;
            font-size: 2rem;
        }
        
     }
}

.postBody{
    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: justify;
    color: black;   
    h1{
        text-align: left;
    }
    .postImage{
        img{
            width: 100%;
        }
    }
}

