#cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    overflow: hidden;
    position: relative;

}

#cards div{
    height: 300px;
    text-align: center;

}

#cards img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#cards div p {
    margin-top: -150px;
}
#cards p span{
    color:white;
    padding:20px;
    background: red;

}

.borderColor{
    background: #E3E3E3;
    height: 90vh;
    width: 100%;
    position: absolute;
    margin-top: 400px;
}
