.firstSlider{
    .slider-1{
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .video{
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 990px) { 
    .firstSlider{
        height: 100vh !important;
        .logo{
            display: block;
            width: 100%;
            img{
                width: 50%;
            }
        }
        .text-sanjose{
            text-align: center;
            img{
                width: 50%;
            }
        }
        .first-buttons{
            button{
                display: block;
                margin: auto !important;
            }
        }
    }
}